div.comments {
	margin-top : 30px;
	padding : 20px;
	background : #FFFFFF;
}
div.comments_title {
	font-size : 18pt;
	color : #506266;
}
div.no_new_comment {
	text-align : center;
	color : #7b8f8a;
}
div.comment {
	margin-top : 15px;
	clear : right;
}
div.comment_id {
	font-size : 14pt;
	color : #7b8f8a;
}
span.comment_date {
	font-size : 10pt;
}
div.comment_content {}
div.comment_files {	
	float : right; 
	margin-left : 15px;
	margin-bottom : 10px;
	padding : 15px;
	min-width : 150px;
}
div.comment_files_title {
	font-size : 12pt;
	color : #7b8f8a;
}
div.comment_files ul { 
	list-style-type : square; 
	color : #7b8f8a; 
	margin : 0px;
	padding-left : 30px;
}
div.comment_files a { color : #92a68a; text-decoration : none;}
div.comment_files a:hover { color : #506266; text-decoration : none;}
div.new_comment {
	margin-left : -15px;
	margin-right : -15px;
	padding : 15px;
	background-color: #bcc499;
}
div.new_comment div.comment_id { color : #506266;}

div.add_comment {
	text-align : center;
	padding-top : 20px;
}
div.add_comment_title {
	color : #7b8f8a;
	font-size : 14pt;
	text-align : left;
}
div.add_comment form {
	padding-top : 10px;
}
div.add_comment textarea {
	border : 1px solid #BBBBBB;
	width : 97%;
	height : 100px;
	font-family : Arial;
	font-size : 10pt;
	margin-bottom: 10px;
}
span#add_comment_add_file {
    display: block;
	padding-top : 10px;
	text-align : left;
	color : #92a68a;
	text-decoration : none;
	cursor: pointer;
}
span#add_comment_add_file:hover {
	color : #506266;
    text-decoration : none;
}
input.add_comment_ok {
	width : 70px;
}

div.comment_loading, div.comment_error, div.comment_thanks {
    text-align: center;
    color: #7b8f8a;
    padding: 30px;
    display: none;
}

div.comments div.file_message {
    color: #506266;
    height: 14px;
    display: none;
    text-align: left;
}
div.comments div.file_message img {
    float: left;
    height: 14px;
    margin-right : 5px;
}
div.add_comment_file {
    text-align: left;
}
.remove_existing {
    cursor: pointer;
}
.remove_existing img {
    border: none;
}

div.comments_loading, div.comments_error {
    text-align: center;
    font-size: 12pt;
    color: #7b8f8a;
    padding: 30px;
    display: none;
}




