## -*- coding: utf-8 -*-
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>Naphtaline: BUG Tracking made REALLY simple (and beautiful)</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>

	<link rel="stylesheet" type="text/css" href="/css/layout-1col.css" />
    <link rel="stylesheet" type="text/css" href="/css/register.css" />
    
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/jquery.pause.js"></script>
	<script type="text/javascript" src="/js/register.js"></script>
	
</head>


<body>

	<div class="logo">
		<img class="logo" src="/pix/logo.png" alt="naphtaline logo" />
		<div class="name">Naphtaline</div>
		<div class="subtitle">Bug tracking made really simple</div>
	</div>
	
	<div class="misc">
		<div id="projectWebName">${projectWebName}</div>
	</div>
	
	<div class="page_content">
	   <div class="title">Participer au projet ${projectWebName}</div>
	   <form class="register" action="">
	       <div class="entry">Login</div>
	       <div class="error" id="login_empty">Vous devez choisir un login.</div>
	       <div class="error" id="login_taken">Le login que vous avez choisi est déjà utilisé par un autre utilisateur.</div>
	       <input type="text" name="login" id="login"/>
	       
	       <div class="entry">Mot de passe</div>
	       <div class="error" id="pwd_error">Vous ne pouvez pas choisir un mot de passe vide.</div>
	       <div class="error" id="pwd_bis_error">Votre mot de passe a mal été confirmé (les deux mots de passe que vous avez entré sont différents).</div>
	       <div class="pwd1">
	           Entrez votre mot de passe<br/>
    	       <input type="password" name="pwd1" id="pwd1"/>
    	   </div>
    	   <div class="pw2">
    	       Ré-entrez votre mot de passe (pour vérification)<br/>
    	       <input type="password" name="pwd2" id="pwd2"/>
    	   </div>
	       <div class="entry">E-mail</div> 
	       <div class="error" id="email_empty">Vous devez entrer un email.</div>
	       <input type="text" name="email" id="email"/>
	       <br/><br/>
	       <input type="submit" id="register" value="Participer au projet !"/>
	   </form>	   
	   
	   <div class="loading">
	       <img src="/pix/loading_wheel.gif" alt="loading" /><br/>
	       Merci de patienter pendant que nous vous inscrivons au projet.
	   </div>
	   
	   <div class="error_connect">
	       Une erreur est survenue pendant l'inscription. Merci de réessayer plus tard.
	   </div>
	   
	   <div class="success">
			Votre demande de participation au projet ${projectWebName} a été envoyé aux administrateurs du projet. Vous recevrez un email lorsqu'ils vous auront donné (ou, le cas échéant, refusé) l'accès au project<br/>
	   		<a href="http://www.naphtaline.net">Cliquez ici</a> pour retourner à la page d'accueil de Naphtaline.
	   </div>
	   
	</div>
		

</body>

</html>
